<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" th:href="@{/css/type.css}">
    <link rel="stylesheet" th:href="@{/css/typeFont.css?family=Rubik+Mono+One}">
    <script th:src="@{/js/jquery.min.js}"></script>


    <script>
<!--    big -->

    </script>
    <style>
        body{text-align:center;}

        table{
            magin:auto;
            table-layout:fixed;      /* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */

        }

        td{
            word-break:keep-all;     /* 不换行 */
            white-space:nowrap;      /* 不换行 */
            overflow:hidden;         /* 内容超出宽度时隐藏超出部分的内容 */
            text-overflow:ellipsis;  /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
        }
    </style>
    <meta charset="UTF-8">
    <title>数学题</title>
</head>
<body>
<a href="/">
    返回首页
</a>
<input id="maxLimitAdjust" type="number" style="width:50px;height:20px;border-radius:10px"/>
<input id="maxLimitAdjustBtn" type="button" value="最大数值区间调整"/>


<select name="answerNegative" id="answerNegative" style="width:80;height:50;border-radius:10px">
    <option value='0'>选择结果正或负数</option>
    <option value="0">结果包括正和负数</option>
    <option value="1">只做正数结果题目</option>
    <option value="2">只做负数结果题目</option>
</select>

<table id="qtable" style="border:1px solid black;margin-left:auto;margin-right:auto;">
    <tr>
        <!--        <th>题号</th>-->
        <th>题目</th>
        <th>结果</th>
        <th></th>
    </tr>
    <!--关于理性主义，我先说到这里，因为还有一个重要的问题等着我去解决，那就是实用主义与协调经验主义思想的关系-->
    <tr th:each="q : ${questions}" >
        <!--        <td th:text="${q.id}"></td>-->
        <td th:id="question+${q.id}" th:text="${q.question}" ></td>
        <td th:text="${q.id}" hidden="hidden"></td>
        <td><input th:id="answerjun+${q.id}" style="height:50;border-radius:10px" type="number"/></td>
        <td th:id="answer+${q.id}" th:text="${q.answer}" hidden="hidden" ></td>
        <td th:id="type+${q.id}" th:text="${q.type}" hidden="hidden" ></td>
        <td><input th:id="confirm+${q.id}" style="height:30px;border-radius:10px" type="button" value="确认结果"
                   th:onclick="'javascript:matchResult('+${q.id}+');'"/></td>
    </tr>
</table>
<div class="dynamicFont" style="text-align:center">
    <p id="offscreen-text" class="offscreen-text" hidden="hidden"></p>
    <p id="text" class="text" style="text-align:center"></p>
    <svg id="svg" style="text-align:center"></svg>

    <input type="text" class="input" id="input" hidden="hidden"/>
</div>

<script th:src="@{/js/typeCSSPlugin.min.js}"></script>
<script th:src="@{/js/typeEasePack.min.js}"></script>
<script th:src="@{/js/typeTweenLite.min.js}"></script>
<script th:src="@{/js/typeIndex.js}"></script>

<script>
    var correctAudio = new Audio('/mp3/correct.mp3');
    var wrongAudio = new Audio('/mp3/wrong.mp3');
    var completedAudio = new Audio('/mp3/completed.wav');
    $('#answerNegative').change(negativeSelect);
    function negativeSelect(){
         console.log('select negative or not in answers.');
         var negativeSet = $('#answerNegative').val();
         if(!negativeSet){
        }else{
            window.location = changeURLPar(window.location.href,'answerNegative',negativeSet);
        }
    }
    $('#maxLimitAdjustBtn').click(maxLimitAdjustFc);
    function maxLimitAdjustFc(){
        console.log('adjustment max limit number of question members');
        var adjust = $('#maxLimitAdjust').val();
        if(!adjust){
            alert('请输入要调整的数值');
            $('#maxLimitAdjust').focus();
        }else{
            window.location = changeURLPar(window.location.href,'maxLimit',adjust);
        }
    }
　   function changeURLPar(destiny, par, par_value) {
            var pattern = par + '=([^&]*)';
            var replaceText = par + '=' + par_value;
            if (destiny.match(pattern)) {
                var tmp = '/' + par + '=[^&]*/';
                tmp = destiny.replace(eval(tmp), replaceText);
                return (tmp);
            }
            else {
                if (destiny.match('[?]')) {
                    return destiny + '&' + replaceText;
                }
                else {
                    return destiny + '?' + replaceText;
                }
            }
            return destiny + par +  par_value;
        }
    function matchResult(id){
        console.log(id); //ok , make a move !
        var question = $("#question"+id).text(); // ok , keep moving !
<!--        console.log(question);-->
        var answerjun = $("#answerjun"+id).val(); // fantastic ! next moving !
        console.log("answerjun:"+answerjun);
        var answer = $("#answer"+id).text(); // the last move ...
        console.log("answer:"+answer);
        var type = $("#type"+id).text(); // never the less, keep moving ...
        console.log("type:"+type);
        if(parseFloat(answerjun)==parseFloat(answer)){
            console.log("He is correct!");
            //playing music and shown the answer !
            correctAudio.play();
            $("#answer"+id).show();
            $("#confirm"+id).hide();
            var jug = iterateTableJugIsComplete();
            console.log('jug:'+jug);
            answerToRecords(id,1,type);
            if(jug){
             completedAudio.play();
             popText();
            }
        }else{
            console.log("Wrong answer! Sooo sadly!");
            answerToRecords(id,0,type);
            wrongAudio.play();
        }
    }

    function answerToRecords(questionId,isRight,type){
          $.ajax({
            url:"/records/makeRecords?"+"questionId="+questionId+"&isRight="+isRight+"&type="+type,
            type:"get",
            success:function(data){
             if(data.code==1){
                console.log("records ok");
             }else{
                console.log("records failed");
                console.log(data.msg);
             }
            },
            error: function (errormessage) {
              console.log('onerror:'+JSON.stringify(errormessage));
            }
        })
    }

    function iterateTableJugIsComplete(){
     var passcount=0;
     var notpasscount = 0;
		$('#qtable').find('tbody').each(function () {
            $(this).find('tr').each(function () {
              idx3 = $($(this).find('td')[3]);
              if(JSON.stringify(idx3) !== '{}'){
                //if idx3 ele not null obj then check the hidden
                //if all hidden is false, then prove that all completed
                var dbAnswerHidden = idx3.is(':hidden');
                if(dbAnswerHidden){
                    notpasscount++;
                    return false;
                }else{
                    passcount++;
                }
              }
            });
        });
            if(notpasscount>0){
              console.log('not completed');
              return false;
            }
            if(notpasscount==0 && passcount>0){
                console.log('all completed');
                return true;
            }
    }




</script>
</body>
</html>