<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>

    <title>${childName}的答题记录</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>
    <script th:src="@{/js/echartsFormat.js}"></script>
    <script th:src="@{/js/progressbar.js}"></script>
    <script th:src="@{/js/jquery.serializejson.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/progressbar.css}">
</head>
<body>

<!--<form id="registerForm" method="post">-->
<!--    <fieldset>-->
<!--        登陆名 <br>-->
<!--        <input type="text" id="loginName" name="loginName" required="required"-->
<!--               style="width:80;height:50;border-radius:10px"/> <br>-->
<!--        登陆密码 <br>-->
<!--        <input type="text" id="loginPassword" name="loginPassword" required="required"-->
<!--               style="width:100;height:50;border-radius:10px"/> <br>-->
<!--        儿童名字 <br>-->
<!--        <input type="text" id="childName" name="childName" required="required"-->
<!--               style="width:100;height:50;border-radius:10px"/> <br>-->
<!--        儿童年龄 <br>-->
<!--        <input type="number" id="childAge" name="childAge" required="required"-->
<!--               style="width:100;height:50;border-radius:10px"/> <br>-->
<!--        儿童性别 <br>-->
<!--        <input type="text" id="childGender" name="childGender" required="required"-->
<!--               style="width:100;height:50;border-radius:10px"/> <br>-->
<!--        父母姓名 <br>-->
<!--        <input type="text" id="parentName" name="parentName" required="required"-->
<!--               style="width:100;height:50;border-radius:10px"/> <br>-->
<!--        父母邮箱 <br>-->
<!--        <input type="text" id="parentEmail" name="parentEmail" required="required"-->
<!--               style="width:100;height:50;border-radius:10px"/> <br>-->
<!--        激活码 <br>-->
<!--        <input type="text" id="invitationCode" name="invitationCode" required="required"-->
<!--               style="width:100;height:50;border-radius:10px"/> <br>-->
<!--        <input type="button" id="REG" style="width:100px;height:60px;border-radius:10px" value="注册"/>-->
<!--    </fieldset>-->
<!--</form>-->

<a href="/">
    返回首页
</a>
<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
<div id="main" style="width: 600px;height:400px;"></div>
<script>


function getRecordsAboutType(questionId,type){
myChart.showLoading();
      $.ajax({
            url:"/records/echartsRecords?"+"questionId="+questionId+"&type="+type,
            type:"get",
            success:function(data){
             if(data.code==1){
 myChart.hideLoading(); //数据data加载后隐藏loading
                console.log("search records ok");

                setCustomOption(data.data.questionsData,data.data.rightCountMax,
                data.data.wrongCountMax,data.data.rightCountArr,data.data.wrongCountArr);

             }else{
                console.log("records failed");
                console.log(data.msg);
             }
            },
            error: function (errormessage) {
              console.log('onerror:'+JSON.stringify(errormessage));
            }
        })
}
var myChart = echarts.init(document.getElementById('main'));
function setCustomOption(questionsData,rightCountMax,wrongCountMax,
rightCountArr,wrongCountArr){
// 指定图表的配置项和数据
option = {
  title: {
    text: '答题对错统计表',
    left: 'center'
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      animation: false
    }
  },
  legend: {
    data: ['对', '错'],
    left: 10
  },
  toolbox: {
    feature: {
      dataZoom: {
        yAxisIndex: 'none'
      },
      restore: {},
      saveAsImage: {}
    }
  },
  axisPointer: {
    link: [
      {
        xAxisIndex: 'all'
      }
    ]
  },
  dataZoom: [
    {
      show: true,
      realtime: true,
      start: 30,
      end: 70,
      xAxisIndex: [0, 1]
    },
    {
      type: 'inside',
      realtime: true,
      start: 30,
      end: 70,
      xAxisIndex: [0, 1]
    }
  ],
  grid: [
    {
      left: 60,
      right: 50,
      height: '35%'
    },
    {
      left: 60,
      right: 50,
      top: '55%',
      height: '35%'
    }
  ],
  xAxis: [
    {
      type: 'category',
      boundaryGap: false,
      axisLine: { onZero: true },
      data: questionsData
    },
    {
      gridIndex: 1,
      type: 'category',
      boundaryGap: false,
      axisLine: { onZero: true },
      data: questionsData,
      position: 'top'
    }
  ],
  yAxis: [
    {
      name: '答对次数',
      type: 'value',
      max: rightCountMax
    },
    {
      gridIndex: 1,
      name: '答错次数',
      type: 'value',
      max: wrongCountMax,
      inverse: true
    }
  ],
  series: [
    {
      name: '对',
      type: 'line',
      symbolSize: 8,
      // prettier-ignore
      data: rightCountArr
    },
    {
      name: '错',
      type: 'line',
      xAxisIndex: 1,
      yAxisIndex: 1,
      symbolSize: 8,
      // prettier-ignore
      data: wrongCountArr
    }
  ]
}
// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);
}
getRecordsAboutType(null,null);

</script>
</body>

</html>