<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>

    <title>${childName}的答题记录</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>
    <script th:src="@{/js/echartsFormat.js}"></script>
    <script th:src="@{/js/progressbar.js}"></script>
    <script th:src="@{/js/jquery.serializejson.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/progressbar.css}">
</head>
<body>

<!--<form id="registerForm" method="post">-->
<!--    <fieldset>-->
<!--        登陆名 <br>-->
<!--        <input type="text" id="loginName" name="loginName" required="required"-->
<!--               style="width:80;height:50;border-radius:10px"/> <br>-->
<!--        登陆密码 <br>-->
<!--        <input type="text" id="loginPassword" name="loginPassword" required="required"-->
<!--               style="width:100;height:50;border-radius:10px"/> <br>-->
<!--        儿童名字 <br>-->
<!--        <input type="text" id="childName" name="childName" required="required"-->
<!--               style="width:100;height:50;border-radius:10px"/> <br>-->
<!--        儿童年龄 <br>-->
<!--        <input type="number" id="childAge" name="childAge" required="required"-->
<!--               style="width:100;height:50;border-radius:10px"/> <br>-->
<!--        儿童性别 <br>-->
<!--        <input type="text" id="childGender" name="childGender" required="required"-->
<!--               style="width:100;height:50;border-radius:10px"/> <br>-->
<!--        父母姓名 <br>-->
<!--        <input type="text" id="parentName" name="parentName" required="required"-->
<!--               style="width:100;height:50;border-radius:10px"/> <br>-->
<!--        父母邮箱 <br>-->
<!--        <input type="text" id="parentEmail" name="parentEmail" required="required"-->
<!--               style="width:100;height:50;border-radius:10px"/> <br>-->
<!--        激活码 <br>-->
<!--        <input type="text" id="invitationCode" name="invitationCode" required="required"-->
<!--               style="width:100;height:50;border-radius:10px"/> <br>-->
<!--        <input type="button" id="REG" style="width:100px;height:60px;border-radius:10px" value="注册"/>-->
<!--    </fieldset>-->
<!--</form>-->

<a href="/">
    返回首页
</a>
<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
<div id="main" style="width: 600px;height:400px;"></div>
<script>

var myChart = echarts.init(document.getElementById('main'));
// 指定图表的配置项和数据
var option = {
title: {
text: '答题正确率统计'
},
tooltip: {},
legend: {
data: ['销量']
},
xAxis: {
data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
},
yAxis: {},
series: [
{
name: '销量',
type: 'bar',
data: [5, 20, 36, 10, 10, 20]
}
]
};

// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);

</script>
</body>

</html>