<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />

  <title>给君洋的刷题网</title>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/progressbar.js}"></script>
  <script th:src="@{/js/jquery.serializejson.min.js}"></script>
  <link rel="stylesheet" th:href="@{/css/progressbar.css}">
</head>
<body>
<div id="bk" style="text-align:center;">

  <div th:if="${session.memberId != null}">
    欢迎你,<span th:text="${session.memberName}"></span>,
    <a href="/auth/doLogout">登出</a>
  </div>
  <div th:if="${session.memberId == null}">
    <form id="loginForm" th:action="@{/auth/doLogin}" method="post">
      <fieldset>
        登陆名 <br/>
        <input type="text" id="loginName" name="loginName" required="required" style="width:80;height:50;border-radius:10px"/> <br>
        登陆密码 <br/>
        <input type="text" id="loginPassword" name="loginPassword" required="required" style="width:100;height:50;border-radius:10px"/> <br>
        <input type="submit" id="LOGIN" style="width:100px;height:60px;border-radius:10px" value="登陆"/>
      </fieldset>
    </form>
    <p style="color:red" th:display="${session.loginError!=null}" th:text="${session.loginError}"></p>
    <a style="color:green" th:href="@{/register}">注册</a>
  </div>














<!--
<div th:text="${session.currentMember}">[...]</div>

<div th:object="${session.currentMember}">
    <p>欢迎,<span th:text="*{truename}">游客名称</span></p>
    <p>用户等级:<span th:text="*{member_level}"></span></p>
</div>
-->

<a href="records.html" th:href="@{/records}" rel="opener">查看答题正确率</a> <br>
<a href="math.html" th:href="@{/fun/getQList}" rel="opener">开始做数学题</a> <br>
<a href="math.html" th:href="@{/fun/getQList?type=addition}" rel="opener">专做加法</a> <br>
<a href="math.html" th:href="@{/fun/getQList?type=subtraction}" rel="opener">专做减法</a> <br>
<a href="math.html" th:href="@{/fun/getQList?type=multiplication}" rel="opener">专做乘法</a> <br>
<a href="math.html" th:href="@{/fun/getQList?type=division}" rel="opener">专做除法</a> <br>
<a href="math.html" th:href="@{/fun/getQList?type=addWithSub}" rel="opener">专做加减法混合</a> <br>
<a href="math.html" th:href="@{/fun/getQList?type=mulAndDiv}" rel="opener">专做乘除法混合</a> <br>
<a href="math.html" th:href="@{/fun/getQList?type=asmdThanThree}" rel="opener">专做包含加减乘除中至少三种混合的</a> <br>

<hr>
<hr>
<hr>
生成点题出来:
<form id="generateForm"  method="post">
  <fieldset>
    <select name="type"  id="type" class="form-control" required="required" style="width:80;height:50;border-radius:10px">
      <option value=''>数学题题型</option>
      <option th:each="map : ${mathType}" th:text="${map.value}" th:value="${map.key}">
      </option>
    </select>
    <br>
    题目中允许包含的最小数字:(什么叫无穷小量)
    <input type="number" id="minNumber" name="minNumber" required="required" style="width:80;height:50;border-radius:10px"/> <br>
    题目中允许包含的最大数字:(什么叫无穷大量)
    <input type="number" id="maxNumber" name="maxNumber" required="required" style="width:100;height:50;border-radius:10px"/> <br>
    生成题目数量:(不宜过大，建议10-100)
    <input type="number" id="size" name="size" required="required" style="width:80;height:50;border-radius:10px"/> <br>
    是否允许结果为负数?允许则勾选:
    <input type="radio" id="containsNegative" name="containsNegative" style="width:80;height:50;border-radius:10px"/> <br>
    注册/登陆后才可使用生成:
    <input type="button" th:disabled="${session.memberId == null}"
           id="GENERATE" style="width:100px;height:60px;border-radius:10px" value="生成"/>
  </fieldset>
</form>


<hr>



<!--<div th:object="${session.currentMember}!=null">-->
  <!--<p>欢迎,<span th:text="*{truename}">游客名称</span></p>-->
  <!--<p>用户等级:<span th:text="*{member_level}"></span></p>-->
  <script th:inline="none">
    /*拿题 我说呢原来大括号和小括号忘记换了 乐天派加油*/
    $("#GENERATE").click(beforeGenQs);
    function beforeGenQs(){
      closeProgress();
      randomProcessStyle();
      showMask();
          var i=0;
          var timer=setInterval(function(){
                  if(i<100){
                      i+=1;
                      console.log(i);
                      $('.progress-bar').css('width',i+'%');
                  }
                  if(i>=99){
                      clearInterval(timer);
                  }
          },99);
          generateMathQuestions(timer);
    }
    function generateMathQuestions(timer){
        $.ajax({
            url:"/fun/generateQ",
            data: $('#generateForm').serializeJSON(),
            type:"post",
            dataType:"JSON",
            success:function(data){
             if(data.code==1){
              $('.progress-bar').css('width',100+'%');
               alert(data.msg);
             }else{
               $('.progress-bar').css('width',0+'%');
               alert(data.msg);
             }
               console.log(data);
               clearInterval(timer);

<!--                window.location.reload();-->
            },
            error: function (errormessage) {
              console.log('onerror:'+JSON.stringify(errormessage));
                //do something else
                clearInterval(timer);
                $('.progress-bar').css('width',0+'%');
                closeProgress();
            }
        })
    }
    function closeProgress(){
       hideMask();
       $('.progress-bar').css('width',0+'%');
    }
<!--    $('#bk').click(closeProgress);-->

//加载loading
function showMask(){
 console.log('loading...');
 var divMask = document.getElementById("divMask");
 var divLoad = document.getElementById("divLoad");
 divMask.style.display="block";
 var vwidth = document.body.offsetWidth+20;
 var vheitht = document.body.offsetHeight;
 divMask.style.width=vwidth;
 divMask.style.height=vheitht;
 divLoad.style.display="block";
 divLoad.style.top=(vheitht-200)/2;
 divLoad.style.left=(vwidth-200)/2;
}
//隐藏loading
function hideMask(){
 var divMask = document.getElementById("divMask");
 var divLoad = document.getElementById("divLoad");
 divMask.style.display="none";
 divLoad.style.display="none";
}
function sleep(numberMillis) {
  var now = new Date();
  var exitTime = now.getTime() + numberMillis;
  while (true) {
  now = new Date();
  if (now.getTime() > exitTime)
  return;
  }
}
function randomProcessStyle(){
    var progressType =
    ['progress aqua','progress copper','progress candy','progress neon',
    'progress shine','progress zigzag','progress diamond','progress hearts',
    'progress sparkle'];
    console.log('random:'+parseInt(Math.random() * progressType.length, 10));
    $("#processId").attr("class",progressType[parseInt(Math.random() * progressType.length, 10)]);
}

   /*乐天派又在写代码咯*/
    $("#LOGIN").click(beforeLogin);
    function beforeLogin(){
      closeProgress();
      randomProcessStyle();
      showMask();
          var i=0;
          var timer=setInterval(function(){
                  if(i<100){
                      i+=1;
                      console.log(i);
                      $('.progress-bar').css('width',i+'%');
                  }
                  if(i>=99){
                      clearInterval(timer);
                  }
          },99);
          doTheLogin(timer);
    }
    function doTheLogin(timer){
        $.ajax({
            url:"/auth/doLogin",
            data: $('#loginForm').serializeJSON(),
            type:"post",
            dataType:"JSON",
            success:function(data){
             if(data.code==1){
              $('.progress-bar').css('width',100+'%');
              window.location.href='/';
             }else{
               $('.progress-bar').css('width',0+'%');
               alert("用户名或密码错误");
             }
               console.log(data);
               clearInterval(timer);

<!--                window.location.reload();-->
            },
            error: function (errormessage) {
                //do something else
                clearInterval(timer);
                $('.progress-bar').css('width',0+'%');
                closeProgress();
            }
        })
    }

</script>
  <!--<p>创建时间:<span th:text="${#calendars.format(*{create_time},'dd MMMM yyyy')}"></span></p>-->
<!--</div>-->
  <!--此div用于展示遮罩区-->

  <div id="divMask" style="filter:Alpha(opacity=30);display:none;background-color:#ffffff;bottom:0;z-index:1;">
    <!--此div用于展示进度条的图片-->
    <div id="divLoad" style="display:none;z-index:4;">
      <div id="processId" class="progress hearts" data-width="0%">
        <div class="progress-text">0%</div>
        <div class="progress-bar">
          <div class="progress-text">0%</div>
        </div>
      </div>
      <!--  <input id="slider" type="range" name="slider" min="0" max="100" value="0" >-->
    </div>
  </div>
</div>
</body>
</html>